<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <a href="/cobuying">메인</a>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1><%=post.title%></h1>
                        <div>
                            최소금액 : 
                            <%=post.minimum%>
                        </div>
                        <div>
                            모인금액 :
                            <%=post.sum%>
                        </div>
                        <div> 마감일 : 
                            <%=post.deadline%>
                        </div>
                        <div>
                            마감까지
                            <span id="count"><%=post.deadline.getTime()%></span>
                            남았습니다.
                        </div>
                        <h2 class="subheading"><%=post.body%></h2>
                    </div>
                </div>
            </div>
        </div>
        <form action="/cobuyingpost/newcomment/<%=post._id%>" method="POST">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>희망사항</label>
                    <input name="content" class="form-control" id="content" type="text" placeholder="희망사항" />
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>구매금액</label>
                    <input name="buying" class="form-control" id="buying" type="number"/>
                </div>
            </div>
            
            <br />
            <div id="form-group">
                <button class="btn btn-primary" id="sendMessageButton" type="submit">작성하기</button>
            </div>
        </form>

        <% for(var i=0;i<post.comments.length; i++){%>
            <div class="post-preview">
                
            
                    <!-- 작성자 -->
                    <div>
                        희망사항 :
                        <%=post.comments[i].content%>
                    </div>
                    
                    <div>
                        구매금액 :
                        <%=post.comments[i].buying%>
                    </div>
                 
                
            </div>
            <%}%>
    <script src='/js/timer.js'></script>
    </body>

</html>