<div class="container">
    <div>
        <a href="/newcobuying">새글쓰기</a>
        <a href="/auth/login">login</a>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <% for(var i=0;i<posts.length; i++){%>
            <div class="post-preview">
                <a href="/cobuyingpost/<%=posts[i]._id%>">
                    <h2 class="post-title">
                        <!-- 타이틀 -->
                        <%= posts[i].title %>
                    </h2>
                    <!-- 이미지 -->
                    <img src='<%=posts[i].image%>'/>
                    <!-- 작성자 -->
                    <div>
                        작성자 :
                        <%=posts[i].userid.username%>
                    </div>
                    <!-- 모인금액 -->
                    <div>
                        모인금액 :
                        <%=posts[i].buying%>
                        /
                        <%=posts[i].minimum%>
                    </div>
                    <!-- 마감시간 -->
                    <div>
                        마감 날짜 : 
                        <%= posts[i].deadline.toLocaleString() %>
                    </div>
                </a>
                
            </div>
            <hr />
            <%}%>
            
            <!-- Pager-->
            <div class="clearfix"><a class="btn btn-primary float-right" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>