<!DOCTYPE html>
<html lang="en">

    <%- include('layouts/header')-%>
    <body>
         <!-- Navigation-->
         <%- include('layouts/navbar_white')-%>
    
    <!-- Header-->
    <!-- <header class="bg-success py-5 " >
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">☘공동구매☘</h1>
                    <p class="lead fw-normal text-white-50 mb-0">물물교환을 위한 게시판 입니다!</p>
                </div>
            </div>
        </header> -->

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <span class="col" style="width: 40%;">
                <img style="height: 300px;width:400px; margin-right: 30px;" src="<%=post.image%>"
                    alt="..." />
            </span>
            <span class="col">
                <h1><%=post.title%></h1>
                <!-- <h1>스팸 나눔합니다.</h1> -->
               
                <div style="margin-top:30px; margin-bottom: 20px;">
                    위치 :
                    <%=post.gate%>
                    <!-- 쪽문 -->
                </div>
                <div style="margin-bottom: 20px;">
                    마감일 :
                    <%=post.deadline%>
                    <!-- 2020.12.13 -->
                </div>
                <div style="margin-bottom: 20px;">
                  
                    <span id="count"><%=post.deadline.getTime()%></span>
                    <!-- 12시간 23분 23초 -->
                  
                </div>
            <span>
        </div>
        <div class="mt-5">
            <!-- <h2 class="subheading"><%=post.body%></h2> -->
            <h3 id="body">
                <%=post.body%>
            </h3>
        </div>


    </div>
    <!-- <hr class="mx-5 mt-5"> -->
    <div style=" border-radius:40px; border:7px solid #29854c85 " class="mx-5 my-5 px-2 py-3">
        <h2 class="mb-3" style="text-align: center;">나눔 받기</h2>
        <div class="container mt-3  ">
            <form  action="/sharepost/newcomment/<%=post._id%>" method="POST">
                <div class=" mb-3 rounded">
                    <div class=" container control-group rounded mb-3 pt-2">
                        <h4>희망사항</h4 >
                        <div class="form-group floating-label-form-group controls">
                            <input name="content" class="form-control" id="content" type="text" placeholder="희망사항을 입력하세요" />
                        </div>
                    </div>
                    
                </div>
                <div id="form-group " style="text-align: center;" >
                    <button class="btn btn-success mb-1 rounded" id="sendMessageButton" type="submit">작성하기</button>
                </div>
            </form>

        </div>
    </div>
    <div class="container">
        <h2>나눔신청목록</h2>
        <% for(var i=0;i<post.comments.length; i++){%>
            <div class="post-preview container my-3 py-1 bg-light rounded"">
                    <div>
                        신청자 :
                        <%= post.comments[i].username%>
                    </div>
            
                    <!-- 작성자 -->
                    <div>
                        희망사항 :
                        <%=post.comments[i].content%>
                    </div>
                   
            </div>
            <%}%>
    </div>
    <br>
    <%- include('layouts/footer')-%>
    <script src="/js/timer.js"></script>
</body>

</html>